<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BulkMediaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <BulkMediaDownloader.Properties.Settings>
            <setting name="DownloadDir" serializeAs="String">
                <value>C:\Users\sanmadjack.FORTAWESOME\Desktop\TEST</value>
            </setting>
            <setting name="MaxConcurrentDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DetectAdditionalPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDownloadDir" serializeAs="String">
                <value>C:\Users\sanmadjack.FORTAWESOME\Desktop\TEST</value>
            </setting>
            <setting name="MediaExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>jpg</string>
                        <string>jpeg</string>
                        <string>gif</string>
                        <string>png</string>
                        <string>webm</string>
                        <string>3gp</string>
                        <string>aa</string>
                        <string>aac</string>
                        <string>aax</string>
                        <string>act</string>
                        <string>ai</string>
                        <string>aiff</string>
                        <string>amr</string>
                        <string>ape</string>
                        <string>asf</string>
                        <string>au</string>
                        <string>avi</string>
                        <string>bmp</string>
                        <string>exif</string>
                        <string>f4a</string>
                        <string>f4b</string>
                        <string>f4p</string>
                        <string>f4v</string>
                        <string>flac</string>
                        <string>flv</string>
                        <string>gifv</string>
                        <string>gsm</string>
                        <string>m2v</string>
                        <string>m4p</string>
                        <string>m4v</string>
                        <string>mkv</string>
                        <string>mng</string>
                        <string>mov</string>
                        <string>mp2</string>
                        <string>mp3</string>
                        <string>mp4</string>
                        <string>mpe</string>
                        <string>mpeg</string>
                        <string>mpg</string>
                        <string>mpv</string>
                        <string>oga</string>
                        <string>ogg</string>
                        <string>ogv</string>
                        <string>opus</string>
                        <string>pbm</string>
                        <string>pgm</string>
                        <string>pnm</string>
                        <string>ppm</string>
                        <string>psd</string>
                        <string>qt</string>
                        <string>ra</string>
                        <string>raw</string>
                        <string>rm</string>
                        <string>rmvb</string>
                        <string>svg</string>
                        <string>tiff</string>
                        <string>vob</string>
                        <string>vox</string>
                        <string>wav</string>
                        <string>webp</string>
                        <string>wma</string>
                        <string>wmv</string>
                    </ArrayOfString>
                </value>
            </setting>
        </BulkMediaDownloader.Properties.Settings>
    </userSettings>
</configuration>
